<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.darkforest.acowzon.mapper.LoginMapper">

    <!--查询所有的登录信息-->
    <select id="queryAll" resultType="login">
        select *
        from login
    </select>

    <!--根据id查询一个登录用户-->
    <select id="queryLoginById" resultType="login">
        select *
        from login
        where user_id = #{id}
    </select>

    <!--根据用户名和密码来查询一个登录用户，判断其是否登录成功，并返回其id-->
    <select id="queryIdByInfo" parameterType="login" resultType="string">
        select user_id
        from login
        where user_name = #{userName} and user_pwd = #{userPwd}
    </select>

    <!--查询一个用户名在表中的出现次数，判断用户名是否会重复-->
    <select id="queryUsernameCount" resultType="java.lang.Integer">
        select count(*)
        from login
        where user_name = #{username}
    </select>

    <!--新增一个新的用户信息-->
    <insert id="addLogin" parameterType="login">
        insert into login
        values(#{userId}, #{userName}, #{userPwd})
    </insert>

    <!--修改用户名和密码-->
    <update id="updateLogin" parameterType="login">
        update login
        set user_name = #{userName},
            user_pwd = #{userPwd}
        where user_id = #{userId}
    </update>

    <!--删除一个用户信息-->
    <delete id="delLoginById">
        delete from login
        where user_id = #{id}
    </delete>


</mapper>